@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
:root {
  --bg-color-gray: #808080;
  --bg-color-gray2: #1a1a1a;
  --bg-color-black: #080808;
  --bg-color-green: #19ce96;
  --bg-pad-left-right: 64px;
}
i{
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 0px !important;
  overflow-y: scroll !important;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
input:focus::placeholder {
  color: transparent;
}
.fa-long-arrow-alt-right {
  padding-left: 4px;
}
p {
  margin-bottom: 12px;
}
h5 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.4;
  color: black;
  margin: 0px;
}
h6 {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
  width: fit-content;
  margin: auto;
  color: black;
}


/* ------------------  header1 ------------------  */
.page-active{
  color: var(--bg-color-green);
}
.top-bar {
  background-color: #1a1a1a;
}
.social-icon {
  display: flex;
    gap: 12px;
}
.top-bar-list {
  max-width: 1440px;
  padding: 8px var(--bg-pad-left-right);
  margin: auto;
  display: flex;
  color: white;
}
.top-bar-list i:hover {
  color: var(--bg-color-green);
}
.user-section {
  display: flex;
  margin-left: auto;
  gap: 16px;
}
.login,
.register {
  border: none;
  outline: none;
  background-color: unset;
  color: white;
  cursor: pointer;
}
.login:hover,
.register:hover,
.hotline:hover {
  color: var(--bg-color-green);
}

/* ------------------ header2 ------------------  */
.nav-bar {
  transition: all ease 1s;
  background-color: var(--bg-color-black);
}
.nav-bar-list {
  max-width: 1440px;
  padding: 0px var(--bg-pad-left-right);
  margin: auto;
  display: flex;
  gap: 28px;
}
.logo{
  margin: auto 0;
}
.list1,
.list2,.list3 {
  display: flex;
  align-items: center;
  gap: 28px;
}
.list2 {
  padding: 12px 0px;
  margin-left: auto;
}
.fa-bars,.list3{
  display: none;
}
.fa-bars:hover,.list3 i:hover{
  color: var(--bg-color-green);
  cursor: pointer;
}

/* ------------------  Dropdown-Menu ------------------  */
.dropdown-shop{
  position: absolute;
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  transform-origin: 20% 20% 0;
  transform: scale(0, 0);
  opacity: 0;
  display: no;
  transition:  all ease 0.5s;
  box-shadow: 0px 20px 24px rgb(0 0 0 / 10%);
}
.shop-content:hover .dropdown-shop{
  transform: scale(1, 1);
  opacity: 1;
}
.dropdown-title{
  height: 100%;
    display: flex;
    align-items: center;
}
.dropdown-shop-item{
  display: flex;
  gap: 60px;
}
.item-title{
  font-weight: 700;
  padding-bottom: 8px;
}
.item-title > a{
  color: black;
}
.item-type{
  font-size: 1.4rem;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-type > a {
  color: #888888;
}
.dropdown-banner{
  margin-top: 16px;
  background-color: black;
}
.item-title a:hover,.item-type a:hover {
  text-decoration: underline;
}
.dropdown-banner:hover img{
  opacity: 0.8;
}
/* ------------------  Hamburger ------------------  */
.fa-bars{
  color: white;
  font-size: 16px;
  margin: auto 0;
}

/* ------------------  Side bar ------------------  */
.side-bar{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: none !important;
  /* background-color: white !important; */
}
.sidebar-head{
  text-align: center;
  position: relative;
}
.fa-times{
  color: black;
  font-size: 24px;
  position: absolute;
  /* margin-left: auto; */
  /* width: 100%; */
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(25%);
  transition: color ease 0.2s;
}
.fa-times:hover{
  cursor: pointer;
  color: var(--bg-color-green);
}
.nav-link{
  color: var(--bg-color-black);
  padding: 0;
}
.nav-link:focus, .nav-link:hover{
  color: var(--bg-color-green);
}
.sidebar-list{
  padding: 8px 12px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.sidebar-list a{
  color: black;
}
.sidebar-list a:hover,.sidebar-list a:focus{
  color: var(--bg-color-green);
}
/* ------------------  Toasts ------------------  */
.fa-check-circle{
  color: var(--bg-color-green);
  margin-right: 8px;
}
.toast.show{
  z-index: 9999;
}
.toast-header{
  color: black;
    font-weight: bold;
}
.toast-close{
  border: none;
  outline: none;
  margin-left: auto;
  font-size: 1.8rem;
  background-color: white;
}
.toast-img{
  max-width: 100px;
}
.toast-body-content,.toast-body-button{
  display: flex;
  gap: 16px;
}
.toast-body{
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.toast-button{
  padding: 12px 16px;
  border: solid thin var(--bg-color-gray);
  width: 100%;
  border-radius: 50px;
  text-align: center;
}
.toast-button:first-child{
  color: black;
}
.toast-body-button a:hover{
  color: var(--bg-color-green);
}


/* ------------------  Breadcrumb ------------------  */
.breadcrumb-container{
  padding-top: 112px;
  background-color: #f3f2ee;
  display: none;
}
.breadcrumb-content{
  max-width: 1440px;
  margin: auto;
  padding: 28px var(--bg-pad-left-right);
}
.breadcrumb{
  margin: auto;
}
.breadcrumb-item > a{
  color: black;
  text-decoration: underline;
}

/* ------------------  Modal ------------------  */
.modal{
  padding: 0px !important;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-header,.modal-body{
  padding: 16px 16px 0px;
  border: none;
}
.modal-footer{
  padding: 0px 16px 16px 16px;
  border: none;
}
.modal-dialog{
  margin: auto auto;
  top: 10%;
}
.modal-header{
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.input-modal{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.input-field{
  padding: 8px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font: 14px;
}
.modal-footer{
  flex-direction: column;
  text-align: center;
}
.btn-close{
  position: absolute;
  right: 0;
  padding: 0rem 1rem !important;
  margin: unset !important;
}
.btn-close:focus{
  box-shadow: unset;
}
.modal-open {
  padding: unset !important;
  overflow-y: scroll !important;
}
.button-modal{
  width: 100%;
  padding: 12px 16px;
  letter-spacing: 2PX;
  border: none  ;
  outline: none;
  background-color: var(--bg-color-black);
  color: white;
  border-radius: 4px;
}
.button-modal:hover{
  color: var(--bg-color-green);
}
.error{
  color: #E53637;
  font-size: 1.2rem;
}

/* ------------------  Navigation button ------------------  */
.nav-bar-menu {
  display: flex;
  gap: 28px;
  height: 100%;
}
.nav-bar-menu > a, .shop-content > a:hover  {
  height: 100%;
  align-items: center;
  display: flex;
  transition: border-bottom-width linear 0.1s;
  border-bottom-width: 0px;
  border-bottom-color: #19ce96;
  border-bottom-style: solid;
}
.nav-bar-menu > a:hover, .shop-content > a:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #19ce96;
  color: var(--bg-color-green);
  text-decoration: none;
}

/* ------------------  Search box ------------------  */
.search-box {
  background-color: var(--bg-color-black);
  transition: border ease 0.1s;
  border-bottom: solid thin var(--bg-color-gray);
  padding: 4px 8px;
}
.search-input {
  border: none;
  color: white;
  outline: none;
  background-color: var(--bg-color-black);
}
.search-button {
  border: none;
  color: white;
  background-color: var(--bg-color-black);
}
.search-box:hover {
  border: solid thin var(--bg-color-gray);
}

/* ------------------  Cart ------------------  */
.cart-box {
  padding: 12px 16px;
  background-color: var(--bg-color-green);
  border-radius: 30px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.number {
  width: 24px;
  height: 24px;
  background-color: var(--bg-color-black);
  text-align: center;
  border-radius: 30px;
}
a.cart:hover {
  text-decoration: none;
  color: var(--bg-color-black);
}
a.cart:hover .number {
  color: white;
}

/* ------------------  Banner-silder ------------------  */
.banner-content {
  position: relative;
  overflow: hidden;
}
.banner-img,
.banner-img img {
  width: 100%;
}
.banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 50%;
  transform: translateY(-40%);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 1440px;
  padding-left: 64px;
}

/* ------------------  Animation Text Banner ------------------  */
/* Bootstrap carousel */
.carousel-indicators [data-bs-target]{
  background-color: var(--bg-color-gray2);
  height: 6px;
}
.carousel-item .banner-text-title{
  margin-top: 30px;
  transition: margin-top linear 0.2s,opacity ease 0.2s;
  opacity: 0;
}
.carousel-item  .banner-text-info{
  margin-top: 30px;
  transition: margin-top ease 0.4s,opacity ease 0.4s;
  opacity: 0;
}
.carousel-item  .banner-text-button{
  margin-top: 30px;
  transition: margin-top ease 0.6s,opacity ease 0.6s;
  opacity: 0;
}
.carousel-item.active .banner-text-title{
  margin-top: 0px;
  opacity: 1;
}
.carousel-item.active .banner-text-info{
  margin-top: 0px;
  opacity: 1;
}
.carousel-item.active .banner-text-button{
  margin-top: 0px;
  opacity: 1;
}
/* -------------------------------------- */
.banner-text-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.3;
}
.banner-text-info {
  color: var(--bg-color-gray);
}
.banner-text-button {
  padding: 14px 16px;
  background-color: var(--bg-color-black);
  width: fit-content;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 1.3rem;
  line-height: 1.4;

}
.banner-text-button:hover a {
  color: var(--bg-color-green);
}
.active.active-custom {
  background-color: var(--bg-color-green) !important;
}

/* ------------------  Product-type ------------------  */
.product-type {
  max-width: 1440px;
  margin: 60px auto auto auto;
  padding: 0px var(--bg-pad-left-right);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-type-title {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 1.3;
}
.product-type-box {
  display: flex;
}
.product-type-box img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.product-type-button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  padding: 12px;
  background-color: white;
}
.product-type-button span {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

}
.product-type-card {
  opacity: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: opacity ease 0.5s;
}

.border-bottom {
  transition: width ease 0.2s;
  width: 0%;
  height: 3px;
  background-color: var(--bg-color-green);
}

.product-type-card img{
  transition: transform 0.5s;
}
.product-type-card:hover .over-flow>img{
  transform: scale(1.1);
}
.product-type-card:hover .border-bottom {
  width: 100%;
}
.border-transition {
  width: fit-content;
  margin: auto;
}
.product-type-card:hover h6 {
  color: var(--bg-color-green);
}

/* ------------------  Video ------------------  */
.video {
  margin-top: 60px;
}
.video video {
  width: 100%;
  height: auto;
}

/* ------------------  Card Product ------------------  */
.product-info {
  max-width: 1440px;
  margin: 60px auto auto auto;
  padding: 0px var(--bg-pad-left-right);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: solid thin white;
}
.product-details-info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}
.product-details img {
  width: auto;
  height: auto;
  object-fit: contain;
  transition: all 0.5s;
}
.over-flow {
  overflow: hidden;
  position: relative;
}
.circle-color {
  display: block;
  height: 12px;
  overflow: hidden;

  width: 12px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.color-list {
  display: none;
}
.item {
  display: inline-block;
  margin: 0 4px 0 0;
}
.product-price {
  color: hsla(0, 100%, 50%, 1);
}
.product-color span {
  color: hsla(0, 0%, 61%, 1);
}
.product-cart {
  margin: auto;
}
.button-cart {
  display: flex;
  padding: 12px 16px;
  gap: 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--bg-color-black);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.color-list {
  display: none;
}
.text-sale {
  text-decoration: line-through;
  color: var(--bg-color-gray);
  padding-left: 8px;
}
.mini-box-sale {
  padding: 4px 12px;
  background-color: var(--bg-color-black);
  position: absolute;
  color: white;
  top: 10%;
}

/* ------------------  CSS Hover Card ------------------  */
.product-details a{
  color: black;
}
.product-details:hover {
  border: solid thin var(--bg-color-black);
}
.product-details:hover .product-color span {
  display: none;
}
.product-details:hover .color-list {
  display: block;
}
.product-details:hover .button-cart {
  visibility: visible;
  opacity: 1;
}
.button-cart:hover {
  color: var(--bg-color-green);
}

/* ------------------  Owl carousel ------------------  */
.owl-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 12px;
}
.owl-dot {
  width: 24px;
  height: 8px;
  border-bottom: solid 1px var(--bg-color-black) !important;
  margin-right: 16px;
  transition: border-bottom ease 0.2s;
}
.owl-dot.active {
  border-bottom: solid 8px var(--bg-color-green) !important;
}
.owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  padding: 0px 8px;
  pointer-events: none;
}
.owl-prev > span,
.owl-next > span {
  height: inherit;
  width: inherit;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.owl-prev,
.owl-next {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  background-color: white !important;
  opacity: 0.5;
  pointer-events: all;
}
.owl-prev:hover,
.owl-next:hover {
  opacity: 1;
}

/* ------------------  Banner Sale ------------------  */
.banner-sale {
  max-width: 1440px;
  margin: 60px auto 0px auto;
  padding: 0px var(--bg-pad-left-right);
}

.banner-text-sale{
  position: absolute;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 50%;
  transform: translate(-120%,-50%);
  transition: transform ease 0.7s;
}

/* ------------------  News Blogs ------------------  */
.box-text-fix {
  min-height: 80px;
  transition: color ease 0.4s;
}
.product-type-button > span {
  color: var(--bg-color-gray);
}
.news-hover-text {
  letter-spacing: 0px;
  transition: letter-spacing ease 0.4s;
  font-size: 16px;
  line-height: 1.5;
  width: fit-content;
  margin: auto;
  color: black;
  border-bottom: solid thin var(--bg-color-black);
}
.news-hover-text:hover {
  letter-spacing: 1px;
}
.product-type-card:hover .box-text-fix {
  color: #ff2020;
}
.news {
  margin-top:60px;
  background-color: #f1f0ec;
}
.news .product-type{
  margin: auto;
}
.news-button{
  padding: 14px 16px;
    background-color: var(--bg-color-black);
    width: fit-content;
    border-radius: 4px;
    letter-spacing: 2px;
    font-size: 1.3rem;
    line-height: 1.5;
    margin: auto;
}
.news-button:hover{
  color: var(--bg-color-green);
}
/* ------------------  Policy ------------------  */
.policy {
  max-width: 1440px;
  margin: auto;
  padding: 48px var(--bg-pad-left-right);
  display: flex;
  justify-content: center;
}
.policy-img {
  margin: auto;
}
.policy-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 0px var(--bg-pad-left-right);
  opacity: 0;
}
.policy-text1 {
  font-size: 16px;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
  text-align: center;

}
.policy-text2 {
  color: var(--bg-color-gray);
  text-align: center;
}
.policy-content:not(:last-child) {
  border-right: solid thin #edeff2;
}

/* ------------------  Footer ------------------  */
.footer{
  background-color: var(--bg-color-black);
}
.footer-container{
  max-width: 1440px;
  margin: auto;
  padding: 0px var(--bg-pad-left-right);
  color: white;
  display: flex;
  flex-direction: column;
}
.footer-info{
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  border-bottom: solid thin var(--bg-color-gray);
}
.footer-content{
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.footer-title{
  color: var(--bg-color-green);
}
.footer-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-text a:hover{
  text-decoration: underline;
  color: var(--bg-color-gray);
}
.footer-form{
  display: flex;
  padding: 12px 16px;
  background-color: white;
  justify-content: space-between;
}
#footer-input,.footer-button{
  border: none;
    outline: none;
    background-color: white;
}
.copy-right{
  padding: 16px 0px;
  text-align: center;
}
.fa-heart{
  color: red;
}



/* ------------------  Nav Scroll event ------------------   */
.header{
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: .5s ease .5s;
  /* overflow: hidden; */
}
.banner-slider{
  padding-top: 112px;
}
.hide-nav{
  transform: translateY(-100%);
}

/* ------------------  Banner sale scroll event ------------------  */
.sale-img{
  opacity: 0;
  transition: opacity ease 0.5s;
}
.opacity-show{
  opacity: 1;
}
.text-show{
  transform: translate( 0%,-50%);
}

/* ------------------  News & Blogs scroll event ------------------  */
.news-hide{
  transform: translateY(120%);
  opacity: 0;
  transition: all ease 1s;
}
.news-show{
  transform: translateY(0%);
  opacity: 1;
}
.fade-in{
    position: absolute;
    top: 0;
    opacity: 0;
}
.product-details:hover img.fade-in{
  opacity: 1;
}

/* ------------------  Responsive ------------------  */

@media only screen and (max-width: 1200px){
  html {
    font-size:8px ;
  }
}

@media only screen and (max-width: 992px){
  .list1,.list2{
    display: none;
  }
  .fa-bars,.list3{
    display: flex;
  }
  .nav-bar-list{
    justify-content: space-between;
    padding: 12px var(--bg-pad-left-right);
  }
  .policy-content {
  margin-top: 28px;
  border: unset !important;
  }
  .policy{
    padding: 0px var(--bg-pad-left-right) 28px var(--bg-pad-left-right);
  }
}

@media only screen and (max-width: 768px){
  :root{
    --bg-pad-left-right: 32px;
  }
  .hotline,.mobi-respon{
    display: none;
  }
  html{
    font-size: 7px;
  }
  .banner-sale{
    padding: 0px;
  }
  .banner-text-info{
    display: none;
  }
  .banner-text-title{
    font-size: 16px;
  }
  .banner-text-button{
    padding: 8px 12px;
    letter-spacing: unset;
  }
  .carousel-indicators [data-bs-target]{
    height: 3px;
  }
}