:root {
    --bg-color-gray: #808080;
    --bg-color-gray2: #1a1a1a;
    --bg-color-black: #080808;
    --bg-color-green: #19ce96;
    --bg-pad-left-right: 64px;
    --bg-color-light: rgb(190, 190, 190);
    --gap-60px:60px;
    --gap-12px:12px;
    --gap-16px:16px;
    --gap-28px:28px;
    --gap-8px:8px;
    --gap-4px:4px;
    --gap-40px:40px;
    --pad-60px:0px;
    --pad-12px:0px;
    --pad-16px:0px;
    --pad-28px:0px;
    --pad-8px:0px;
    --pad-4px:0px;
    --pad-40px:0px;
  }

  /* ------------------ breadcrumb show ------------------  */
  .breadcrumb-container {
    display: block;
  }
 /* ------------------ blog ------------------  */

 .blog-container{
     max-width: 1440px;
     margin: auto;
     padding: 40px var(--bg-pad-left-right);
 }

 /* blog-content */
 .blog-content{
    display: flex;
    flex-direction: column;
    gap: var(--gap-40px);
 }
 
 .blog-box{
        display: flex;
        flex-direction: column;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-bottom: var(--pad-28px);
 }
 .blog-box img{
    min-height: auto;
    justify-self: flex-start;
    align-self: flex-start;
    width: 100%;
 }
 .blog-text{
     display: flex;
     flex-direction: column;
     gap: var(--gap-8px);
     padding: 16px;
 }
 .blog-text *{
     margin-bottom: var(--pad-8px);
 }
 /* side bar container */
 .blog-side-bar{
     display: flex;
     flex-direction: column;
     gap: 24px;
 }
 .side-bar-box{
     background-color: #fbf9ff;
     padding: 16px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .side-bar-head{
     padding-bottom: 12px;
     border-bottom: solid thin var(--bg-color-light);
     font-weight: 700;
     text-align: center;
 }
 .side-bar-body{
     padding-top: 16px;
     display: flex;
     flex-direction: column;
     gap: var(--gap-12px);
 }
.side-bar-body>button{
    width: 100%;
}

 /* side bar search */
 .side-bar-search{
    border: solid thin var(--bg-color-light);
    background-color: white;
    display: flex;
    padding: 8px 16px;
    margin-bottom: var(--pad-12px);
 }
 .side-bar-search input{
    border: none;
    outline: none;
    min-width: 100px;
    flex-grow: 1;
 }
 .side-bar-search button{
     border: none;
     background-color: white;
 }
 .side-bar-search button>i{
     color: black;
 }

 /* Recent blog */
 .side-bar-recent{
     display: flex;
     gap: var(--gap-12px);
     margin-bottom: var(--pad-12px);
 }
 .side-bar-recent img {
     width: 200px;
     height: auto;
     margin-bottom: var(--pad-8px);
 }
 .side-bar-recent span{
     font-size: 13px;
 }
 
 /* Social media */
 .side-bar-body a{
     color: black;
 }
 .side-bar-body .social-icon{
     justify-content: center;
     gap: var(--gap-16px);
 }
 
 @media only screen and (max-width: 768px) {
    :root {
      --bg-pad-left-right: 32px;
      --gap-60px:0px;
      --gap-12px:0px;
      --gap-16px:0px;
      --gap-28px:0px;
      --gap-8px:0px;
      --gap-4px:0px;
      --gap-40px:0px;
      --pad-60px:60px;
      --pad-12px:12px;
      --pad-16px:16px;
      --pad-28px:28px;
      --pad-8px:8px;
      --pad-4px:4px;
      --pad-40px:40px;
    }
}