:root {
    --bg-color-gray: #808080;
    --bg-color-gray2: #1a1a1a;
    --bg-color-black: #080808;
    --bg-color-green: #19ce96;
    --bg-pad-left-right: 64px;
    --bg-color-light: rgb(190, 190, 190);
    --gap-60px:60px;
    --gap-12px:12px;
    --gap-16px:16px;
    --gap-28px:28px;
    --gap-8px:8px;
    --gap-4px:4px;
    --gap-40px:40px
    --pad-60px:0px;
    --pad-12px:0px;
    --pad-16px:0px;
    --pad-28px:0px;
    --pad-8px:0px;
    --pad-4px:0px;
    --pad-40px:0px
  }

  /* ------------------ breadcrumb show ------------------  */
  .breadcrumb-container {
    display: block;
  }
  /* ------------------ Contact ------------------  */
  .contact-container{
      max-width: 1440px;
      margin: auto;
      padding: 40px var(--bg-pad-left-right);

  }
  .contact-wrap{
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: var(--gap-28px);
      text-align: center;
  }
  .contact-wrap > div{
      margin-bottom: var(--pad-16px);
  }
  .form-group{
      padding: 0px;
  }
  .contact-field{
    display: flex;
    flex-direction: column;
    gap: var(--gap-16px);
  }
  .contact-field > div{
      margin-bottom: var(--pad-16px);
  }
  .news-button{
      border: none;
      color: white;
  }
.social-media a {
    color: black;
}
.social-media a:hover{
    color: var(--bg-color-green);
}
.text{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}
.text a{
    color: black;
}
.text a:hover{
    text-decoration: underline;
}
.icon{
    font-size: 24px;
}
@media only screen and (max-width: 768px) {
    :root {
      --bg-pad-left-right: 32px;
      --gap-60px:0px;
      --gap-12px:0px;
      --gap-16px:0px;
      --gap-28px:0px;
      --gap-8px:0px;
      --gap-4px:0px;
      --gap-40px:00px
      --pad-60px:60px;
      --pad-12px:12px;
      --pad-16px:16px;
      --pad-28px:28px;
      --pad-8px:8px;
      --pad-4px:4px;
      --pad-40px:40px
    }
}