:root {
  --bg-color-gray: #808080;
  --bg-color-gray2: #1a1a1a;
  --bg-color-black: #080808;
  --bg-color-green: #19ce96;
  --bg-pad-left-right: 64px;
  --bg-color-light: rgb(190, 190, 190);
  --gap-60px:60px;
  --gap-12px:12px;
  --gap-16px:16px;
  --gap-28px:28px;
  --gap-8px:8px;
  --gap-4px:4px;
  --gap-40px:40px;
  --pad-60px:0px;
  --pad-12px:0px;
  --pad-16px:0px;
  --pad-28px:0px;
  --pad-8px:0px;
  --pad-4px:0px;
  --pad-40px:0px
}
row>*{
  padding-right: 0px;
}
/* ------------------ breadcrumb show ------------------  */
.breadcrumb-container {
  display: block;
}

/* ------------------  product list container ------------------  */
.product-list {
  max-width: 1440px;
  margin: auto;
  padding: 40px var(--bg-pad-left-right);
}

/* ------------------  Filter ------------------  */
.input-filter{
    text-align: center;
    padding: 4px 0px;
    /* margin-right: var(--pad-8px); */
    border: solid thin var(--bg-color-light);
    outline: none;
}
.input-filter:hover,.input-filter:focus{
    border: solid thin var(--bg-color-black);
}
.product-list-filter {
  gap: 20px;
  padding-right: 64px;
  padding-left: 0px;
  transition: all ease 0.5s;
}
.sidebar-list {
  padding: 0px;
}

.sidebar-list.color-grey {
  padding: 8px;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
  border-bottom: solid thin var(--bg-color-light);
}
.filter:last-child{
    border: unset;
}
.price-checkbox,.price-checkbox-mobi {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.price-checkbox>*:hover,.size-box>*:hover,.color-box>*:hover{
    color: var(--bg-color-green);

}
.size-box {
  display: flex;
  gap: 6px 2px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.size-button {
    padding: 4px 0px;
    width: 21%;
  border: solid thin var(--bg-color-light);
  border-radius: 4px;
  background-color: white;
}
.size-button-active{
  background-color: black;
  color: white;
}
.fa-check{
  color: var(--bg-color-green);
  opacity: 0;
}
.color-item-active{
  opacity: 1;
}

.sort-item-active,.type-item-active{
  opacity: 1;
  padding-left: 8px;
}

.color-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
}
.color-button{
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
.color-item{
    width: 24px;
    height: 24px;
    border-radius: 40px;
    border: solid thin rgb(190,190,190);
}
/* ------------------  Softing ------------------  */


label> .fa-long-arrow-alt-right{
    color: var(--bg-color-black);
    padding: 0px;
}
.product-list-soft{
    display: flex;
    justify-content: space-between;
    min-height: 34px;
    align-items: center;
    gap: 12px;
}
.fromNew,.fromOld,.ascending,.descending{
  cursor: pointer;
}
.soft-button{
  border: solid thin white;
  padding: 4px 12px;
  background-color: white;
  border-radius: 4px;
}
.soft-button:hover{
  border-color: black;
}
.soft-item{
  position: relative;
  /* overflow: hidden; */
}
.soft-checkbox{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: max-content;
    right: 0;
    padding-top: 12px;
    overflow: hidden;

}
.soft-text-show{
  transform: translateY(0%) !important;
  z-index: 2;
}
.soft-text{
  transform: translateY(-115%);
  text-align: end;
  padding: 8px;
  border: solid thin var(--bg-color-black);
  border-radius: 4px;
  background-color: white;
  transition: all ease 0.5s;
}
/* ------------------  Product-item-container ------------------  */
.product-list-content{
    gap: var(--gap-16px);
    display: flex;
    flex-direction: column;
    transition: all ease 0.5s;
}
.product-list-item{
  padding-top: var(--pad-16px);
}

/* ------------------  Pagination ------------------  */
.pagination{
  gap: var(--gap-12px);
  margin-top: 24px;
}

.page-item{
  width: 32px;
  height: 32px;
  margin: 0px var(--pad-8px);
}

.page-item.disabled{
  pointer-events: none;
}
.disabled i {
  color: var(--bg-color-light);
}
.page-item:last-child .page-link,.page-item:first-child .page-link {
  border-radius: 4px;
}
.page-link{
  padding: 0px;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  border: solid thin var(--bg-color-light);
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0px;
}
.page-link:hover,.page-link:focus{
  background-color: var(--bg-color-black);
  color: white;
  box-shadow: unset;
}
.page-link:hover i{
  color: white;
}
.pagination-active div{
  background-color: var(--bg-color-black);
  color: white !important;
}
/* Filter button mobi */
.filter-mobi{
  display: flex;
    gap:var(--gap-8px);
    padding-top: var(--pad-8px);
}
.show-hide-filter{
  margin-left: auto;
}
.filter-icon{
  height: 24px;
}
.filter-button,.button-show-hide,.button-clear-filter{
  padding: 4px 12px;
  border-radius: 4px;
  background-color: white;
  color: black;
  display: flex;
  gap:8px;
  align-items: center;
  border: solid thin white;
}
.button-clear-filter,.button-show-hide,.input-filter2{
  margin-right: 12px;
}
.filter-button:hover,.button-show-hide:hover,.button-clear-filter:hover{
  border-color: black;
}
/* filter bar mobile */
.filter-bar{
  height: 100vh;
  width: 100%;
  padding: 16px;
  position: fixed;
  transition: opacity ease 0.5s;
  opacity: 0;
  z-index: -1;
    background-color: white;
}
.filter-bar-head{
  text-align: center;
    position: relative;
}
.filter-bar-body{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.filter-show{
  display: unset;
  z-index: 9999;
  opacity: 1;
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}
/* button show hide filter */
.filter-hide{
  padding: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  height: 0;
}
.content-hide{
  width: 100%;
}
/* body hide scroll on mobie filter */
.body-scroll-hide{
  overflow-y: hidden !important;
}

@media only screen and (max-width: 768px) {
  :root {
    --bg-pad-left-right: 32px;
    --gap-60px:0px;
    --gap-12px:0px;
    --gap-16px:0px;
    --gap-28px:0px;
    --gap-8px:0px;
    --gap-4px:0px;
    --gap-40px:0px;
    --pad-60px:60px;
    --pad-12px:12px;
    --pad-16px:16px;
    --pad-28px:28px;
    --pad-8px:8px;
    --pad-4px:4px;
    --pad-40px:40px
  }

  .button-clear-filter,.filter-button{
    border: solid thin var(--bg-color-black);
  }
}

@media only screen and (max-width: 576px) {
  .filter-mobi {
    flex-direction: column;
    align-items: center;
  }
  .button-clear-filter,.filter-button,.input-filter2{
    margin: 0px 0px 12px 0px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}



