:root {
  --bg-color-gray: #808080;
  --bg-color-gray2: #1a1a1a;
  --bg-color-black: #080808;
  --bg-color-green: #19ce96;
  --bg-pad-left-right: 64px;
  --bg-color-light: rgb(190, 190, 190);
  --gap-60px:60px;
  --gap-12px:12px;
  --gap-16px:16px;
  --gap-28px:28px;
  --gap-8px:8px;
  --gap-4px:4px;
  --gap-40px:40px;
  --pad-60px:0px;
  --pad-12px:0px;
  --pad-16px:0px;
  --pad-28px:0px;
  --pad-8px:0px;
  --pad-4px:0px;
  --pad-40px:0px
}
.breadcrumb-container{
  display: block;
}
  /* Shopping Cart */
  .checkout-section{
    padding: 40px var(--bg-pad-left-right) 40px;
  }
  .cart-img{
      width: 80px;
  }
  td,th:not(:first-child){
    vertical-align: middle;
    text-align: center;
  }
  td{
      padding: 24px 5px !important;
  }
  
  /* quantity button */
  .quantity-button{
    border: solid thin var(--bg-color-light);
    border-radius: 4px;
    padding:8px 12px;
    display: flex;
    justify-content: space-between;
    color: var(--bg-color-light);
    width: 120px;
    margin: auto;
  }
  #quantity{
      text-align: center;
      border: none;
      outline: none;
      width: 100%;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .decrease,.increase{
    color: black;
    cursor: pointer;
    padding: 4px 8px;
  }
  .decrease-off{
    pointer-events: none;
    color: var(--bg-color-light);
  }
  .decrease:hover,.increase:hover{
    color: var(--bg-color-green);
  }

  .payment-icon{
    display: flex;
    width: 100%;
  }
  .payment-icon img{
    width: 100%;
  }
  .payment-method{
      display: flex;
      flex-direction: column;
      gap: var(--gap-12px);
  }
  .payment-method *{
    padding-bottom: var(--pad-8px);
  }

  /* remove icon */
  .fa-trash-alt:hover{
cursor: pointer;
color: red;
  }
  .remove-button{
    width: 100%;
    padding: 12px 16px;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: black;
    border-radius: 4px;
    background-color: white;
  }

  .remove-button.active{
    background-color: var(--bg-color-black);
    color: var(--bg-color-green);
  }
  
  /* Checkout-policy */
  .checkout-policy{
    display: flex;
    flex-direction: column;
    gap: var(--gap-8px);
  }
  .checkout-policy *{
    padding-bottom: var(--pad-8px);
  }
  .checkout-policy,.payment-method{
    margin-bottom: var(--pad-28px);
  }
.checkout-policy  div{
  text-decoration: underline;
  width: fit-content;
  color: var(--bg-color-gray);
}
.checkout-policy div:hover{
  color: black;
  cursor: pointer;
}
/* modal-helps */
.modal-help-body{
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 16px;
}
.modal-help{
  top: 50%;
  transform: translateY(-50%)!important;
}
.delivery-content{
  display: flex;
  flex-direction: column;
}
h3{
  font-weight: 700;
}
  /* Responsive */
  @media only screen and (max-width:992px) {
    .checkout-info-list{
      padding: 0px;
    }
  }
  @media only screen and (min-width: 576px){
    .modal-help{
      max-width: 800px ;
    }
  }

  @media only screen and (max-width: 768px) {
    :root {
      --bg-pad-left-right: 32px;
      --gap-60px:0px;
      --gap-12px:0px;
      --gap-16px:0px;
      --gap-28px:0px;
      --gap-8px:0px;
      --gap-4px:0px;
      --gap-40px:0px;
      --pad-60px:60px;
      --pad-12px:12px;
      --pad-16px:16px;
      --pad-28px:28px;
      --pad-8px:8px;
      --pad-4px:4px;
      --pad-40px:40px
    }
}